<ng-container *ngIf="games$ | async; let games">
  <div>
    <table>
      <thead>
      <tr>
        <th></th>
        <th>{{ 'gameAssignment.savedGameList.date' | translate }}</th>
        <th>{{ 'gameAssignment.savedGameList.players' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let game of games" [routerLink]="['/saved-game', game.id]">
        <th>{{ game.id }}</th>
        <td>{{ DateUtils.formatDate(game.date) }}</td>
        <td>{{ game.players.length }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-container>
